
body{align-items: center;
    font-family:Arial; opacity: 0,2;
    padding: 0vw 15vw 0vw 15vw;
    background-color:rgb(108, 245, 154);
    opacity: 0,08;}

header{
    align-items: center;
        background-size:70vw;background-blend-mode: oft-light;
        background-color:rgb(245, 207, 125)}
h1{
    color: rgb(131, 6, 54);
}
h2{
    color: rgb(131, 6, 54);
}

div .formulario1{
    align-content: center;
    font: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}