body{ font-family:Arial;width: 60vw; opacity: 0,2;
        padding: 0vw 15vw 0vw 15vw;
        background-color:rgb(238, 153, 55);
        opacity: 0,08;
        background-image: url(51769.png);
        background-size: auto;}
header{text-align:center; 
        font-size: x-large;}

section{background-position: top center;
        background-size:70vw;background-blend-mode: soft-light;
        background-color: rgb(238, 153, 55);
        margin: 0,005vw;
        border: 0,03vw;
        background-repeat: no-repeat;
        background-attachment: fixed}

h1{text-align:center;text-transform:uppercase;color:#330841;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color:rgb(255, 99, 71); font: size 40vw;}

h2{text-align:center;text-transform:uppercase;color:#300642;border:0,02vw solid Violet;}

h3{text-align:right; color: rgb(99, 27, 27); font-size: 0,1vw;}

h4{text-align: right; color: blueviolet;font-size: 0,1vw;}

.contenedor-imagenes .img{
        width: 32%;
        height: 250px;
        margin-bottom: 5px;
        box-shadow: 0px 0px 3px 0px rgba(31, 156, 119, 0.75);
        border-color: aqua;
        border-radius: 0,2%;
    }

    footer{color:crimson;font-family:cursive;text-align:end; font-size: 0,2vw;}

    p{font-style:italic;color:#251603; font-weight: 0,2vw;}

    div .relative{position: relative;
            width: 0,4vw;
            height: 0,2vw;
            border: 0,03vw solid #a72691;
            font-size: 2vw;}